<mat-toolbar>
  <div class="example-spacer"></div>
  <span>&copy;Romano Álvarez Germán</span>
  <div class="example-spacer"></div>

  <a href="mailto:romanoalvarezgerman@gmail.com">
    <mat-icon matTooltip="Email">mail</mat-icon>
  </a>
  <a href="https://www.linkedin.com/in/gerromano/" target="_blank">
    <mat-icon matTooltip="LinkedIn">linkedin</mat-icon>
  </a>
  <a href="https://github.com/gromanoalvarez/" target="_blank">
    <mat-icon matTooltip="Github">code</mat-icon>
  </a>
  <div class="example-spacer"></div>
</mat-toolbar>
