mat-toolbar {
  max-width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
  padding: 1em 0em 2.5em 0em;
  margin-top: 1em;
  font-size: 2rem;
  color: darkslateblue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: center;
}
mat-icon {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: darkslateblue;
  margin-left: 2em;
}
a:hover {
  color: turquoise;
}
