
#table {
  width: 90%;
  margin: auto;
}
.mat-colim-userId{
  width: 0.5em;
}
.mat-colim-id{
  width: 0.5em;
}
.mat-column-title {
  width: 20%;
  padding-left: 16px;
  font-size: 20px;
}
.mat-column-body {
  width: 70%;
}
button{
    background-color: darkslateblue;
    color: white;
    border-radius: 5px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: mediumturquoise;
}