<br />
<mat-card class="card mat-elevation-z9"> Principales Artículos</mat-card>
<br />
<!--  Filtrar por ID
   <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Filtrar por id</mat-label>
  <input matInput placeholder="Ingrese su id" value="">
</mat-form-field>
<br /> -->

<div id="table" class="mat-elevation-z5">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" >
    <ng-container matColumnDef="userId">
      <th class="userId" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by User">Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">Artículo No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">Título</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th class="body" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by content">Contenido</th>
      <td mat-cell *matCellDef="let element">{{ element.body }}</td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th class="comments" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button matTooltip="Ver comentarios" >
          <mat-icon matBadge="15" matBadgeColor="warn">comments</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons 
    aria-label="Select page of Posts"
  >
  </mat-paginator>
</div>
